{
  "extends": [
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier",
     "react"
  ],
  "env": {
  },
  "parser": "babel-eslint",
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
    },
  "rules": {
    "prettier/prettier": "error",
    "jsx-a11y/href-no-hash": 0,
    "no-console": [1, { "allow": ["warn", "error"] }]
  }
}